<%= form_with model: [ @article, @article.comments.build ] do |form| %>
    <p>
      <%= form.label :commenter , class:"italic text-lg underline " %><br>
      <%= form.text_field :commenter , class:"border border-black rounded-2xl h-12 w-80" %>
    </p>
    <p >
      <%= form.label :body , class:"italic text-lg underline " %><br>
      <%= form.text_area :body , class:"border border-black rounded-2xl w-80" %>
    </p>
    <br>
    <p>
    <%= form.label :status , class:"italic text-lg underline "%><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: 'public' %>
 </p>
 <br>

    <div  class= "border border-yellow-700 border-4 rounded-full py-2 px-4 w-40" style="box-shadow:2px 6px 6px 6px;">
      <%= form.submit %>
    </div>

 

  <% end %>
  










