
<body class="  flex items-center justify-center h-screen" style="background-color: #ece4db ">

<div class="border border-4 rounded-2xl -mt-20  " style="color:#023047 ; width: 600px; height: 600px; background-color: transparent ; margin-left: auto; margin-right: auto;border-color:#023e8a; box-shadow:20px 20px 20px 20px;  ">

<div class="border border-4 rounded-2xl -mt-3" style="border-color: #00b4d8;color:#023047 ;width: 615px; height: 615px;margin-left: -2%; margin-rigth:auto ;">
<div class="border border-4 rounded-2xl" style="border-color: #0077b6; height:608px"> 

    <h2 class="text-center mt-10 italic" style=" font-size:60px">Log In</h2>
    <br>
    <br>
    <div style="margin-left:20%;  ">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email , class:"text-xl " %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border border-2 border-black rounded-xl h-10 text-black" %>
        </div>
        <br>

        <div class="field">
          <%= f.label :password, class:" text-xl "  %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "border border-2 border-black rounded-xl h-10 text-black" %>
        </div>

        <% if devise_mapping.rememberable? %>
        <br>
          <div class="field">
          <%= f.check_box :remember_me, class: "form-checkbox h-4 w-5 text-indigo-600 rounded-full checked:border-transparent" %>
          <%= f.label :remember_me , class:"text-lg "   %>
          </div>
        <% end %>
        <br>
        <div class="actions">
          <%= f.submit "Log in" , class:"text-xl underline"%>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>

  </div>
  </div>
  </div>



  </body>
