<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdn.tailwindcss.com" %>
    <script src="https://cdn.tailwindcss.com"></script>


  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>


    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  </body>
</html>
